data/pipeline/05_workflow_combination_rules.json
{
  "name": "Combination Rules Build",
  "active": true,
  "nodes": [
    {
      "id": "webhook-trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "rule/combination-build",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "typeVersion": 2
    },
    {
      "id": "code-prepare",
      "type": "n8n-nodes-base.code",
      "position": [500, 300],
      "parameters": {
        "jsCode": "// 입력에서 sample-ratio 또는 dry-run 플래그 정규화\nconst input = $input.first().json || {};\nconst sampleRatio = (typeof input.sample_ratio === 'number') ? input.sample_ratio : 0.05;\nconst apply = input.apply === true;\nconst backup = input.backup !== false; // default true\n\nconst cmd = [\n          'python3', '/repo/data/pipeline/05_build_combination_rules.py',\n  '--sample-ratio', String(sampleRatio),\n  '--data-dir', '/tmp/polyvore',\n  '--color-path', '/repo/data/color/color_matching_rules.json',\n  '--combination-path', '/repo/data/combination/item_combination_rules.json'\n];\nif (apply) cmd.push('--apply');\nif (!backup) cmd.push('--no-backup');\n\nreturn { json: { sample_ratio: sampleRatio, apply, backup, command: cmd.join(' ') } };"
      },
      "name": "Prepare Build Command",
      "typeVersion": 2
    },
    {
      "id": "exec-build",
      "type": "n8n-nodes-base.executeCommand",
      "position": [750, 300],
      "parameters": {
        "command": "={{ $json.command }}",
        "timeOut": 3600
      },
      "name": "Run Combination Rules Build",
      "typeVersion": 1
    },
    {
      "id": "code-parse-build",
      "type": "n8n-nodes-base.code",
      "position": [1000, 300],
      "parameters": {
        "jsCode": "// Execute Command 표준 출력 파싱\nexec = require('child_process').execSync; // noop import marker (실제 환경에서 사용 안 함)\n\nconst item = $input.first().json;\nconst raw = typeof item === 'string' ? item : (item.stdout ?? JSON.stringify(item));\n\nlet report = {};\ntry { report = JSON.parse(raw); } catch (e) { report = {}; }\n\nconst colorVal = report.color_validation || {};\nconst comboVal = report.combination_validation || {};\nconst stats = report.polyvore_stats_summary || {};\n\nconst valid = !!(colorVal.valid && comboVal.valid);\nconst bothPass = (colorVal.valid === true) && (comboVal.valid === true);\nconst dryRun = report.dry_run === true;\n\nreturn {\n  json: {\n    valid,\n    color_valid: colorVal.valid === true,\n    color_errors: colorVal.errors || [],\n    color_rule_count: colorVal.rule_count || 0,\n    combo_valid: comboVal.valid === true,\n    combo_errors: comboVal.errors || [],\n    combo_rule_count: comboVal.rule_count || 0,\n    stats,\n    dry_run: dryRun,\n    mismatch: !valid\n  }\n};"
      },
      "name": "Parse Build Results",
      "typeVersion": 2
    },
    {
      "id": "if-valid",
      "type": "n8n-nodes-base.if",
      "position": [1250, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "mismatch",
              "leftValue": "={{ $json.mismatch }}",
              "rightValue": false,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ]
        }
      },
      "name": "If Validation Passed",
      "typeVersion": 2
    },
    {
      "id": "slack-success",
      "type": "n8n-nodes-base.slack",
      "position": [1500, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {"__rl": true, "mode": "name", "value": "#fashion-data-alerts"},
        "text": "=Combination rules build OK: color {{ $json.color_rule_count }} / combo {{ $json.combo_rule_count }} rules validated; sampled {{ $json.stats.sampled_outfits }} outfits (mode: {{ $json.dry_run ? 'dry-run' : 'apply' }})."
      },
      "credentials": {"slackApi": {"__rl": true, "mode": "credential", "name": "Slack"}},
      "name": "Slack: Build Success",
      "typeVersion": 3,
      "continueOnFail": true
    },
    {
      "id": "slack-warning",
      "type": "n8n-nodes-base.slack",
      "position": [1500, 400],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {"__rl": true, "mode": "name", "value": "#fashion-data-alerts"},
        "text": "=Combination rules build FAILED: color_errors={{ JSON.stringify($json.color_errors) }}; combo_errors={{ JSON.stringify($json.combo_errors) }}."
      },
      "credentials": {"slackApi": {"__rl": true, "mode": "credential", "name": "Slack"}},
      "name": "Slack: Validation Failed",
      "typeVersion": 3,
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Prepare Build Command", "type": "main", "index": 0}]]
    },
    "Prepare Build Command": {
      "main": [[{"node": "Run Combination Rules Build", "type": "main", "index": 0}]]
    },
    "Run Combination Rules Build": {
      "main": [[{"node": "Parse Build Results", "type": "main", "index": 0}]]
    },
    "Parse Build Results": {
      "main": [[{"node": "If Validation Passed", "type": "main", "index": 0}]]
    },
    "If Validation Passed": {
      "main": [
        [{"node": "Slack: Build Success", "type": "main", "index": 0}],
        [{"node": "Slack: Validation Failed", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "tags": ["combination-rules", "color-matching", "polyvore", "pipeline", "rule-build"],
  "triggerCount": 0,
  "updatedAt": "2026-07-13T00:00:00.000Z",
  "versionId": "1",
  "id": "WORKFLOW_ID_COMBINATION_BUILD"
}
